<div class="fifth-section-container">
    <div>
        <img src="./images/fifthSection/fifth_content.png" alt="">
    </div>

</div>

<style>
    .fifth-section-container {
        background-image: url('./images/fifthSection/fifth_section_background.png');
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 150px;
        display: flex;
        justify-content: center;
        height: fit-content;
    }
    .fifth-section-container div {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .fifth-section-container div img {
        width: 90%;
        height: 1050px;        
    }

    @media only screen and (max-width: 1400px) {
        .fifth-section-container div img {
            width: 90%;
            height: 900px;
        }
    }
    @media only screen and (max-width: 1200px) {
        .fifth-section-container div img {
            width: 90%;
            height: 750px;
        }
    }
    @media only screen and (max-width: 1000px) {
        .fifth-section-container div img {
            width: 90%;
            height: 650px;
        }
        .fifth-section-container {
            padding-top: 100px;
        }
    }
    @media only screen and (max-width: 850px) {
        .fifth-section-container div img {
            width: 90%;
            height: 550px;
        }
        .fifth-section-container {
            padding-top: 100px;
        }
    }
    @media only screen and (max-width: 650px) {
        .fifth-section-container {
            padding-top: 50px;
        }

        .fifth-section-container div img {
            width: 90%;
            height: 450px;
        }
    }
    @media only screen and (max-width: 600px) {
        .fifth-section-container div img {
            width: 90%;
            height: 250px;
        }
    }
</style>