<div class="first-section-container__header">
    <!-- <a href="/" style="width: fit-content;">   -->
    <div class="logo-container"> 
            <a href="/" class="link-home">
                <img class="img" src="https://res.cloudinary.com/dwat1o60y/image/upload/v1670424865/radiotem/LOGO-PNG_bsp8gm.png" alt="">   
            </a>       
                 
    </div>
    <!-- </a> -->
    <div class="first-section-navbar">
        <a href="/medicos/" class="first-section-navbar__item">Staff Médico</a>
        <a href="/equipos/" class="first-section-navbar__item">Equipos</a>
        <a href="/contacto/" class="first-section-navbar__item">Contacto</a>
    </div>
</div>

<style>
    .first-section-container__header {
        font-size: 28px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        padding: 0px 0px;
        margin: 0 auto;
        grid-area: header;
        padding: 0px  50px;
        padding-top: 20px;
    }

    .logo-container {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .link-home {
        width: fit-content;
    }
    .link-home .img {
        width: 480px;
        height: 130px;
    }
    .first-section-navbar {
        display: flex;
        flex-direction: row;
        color: #fff;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
    }
    .first-section-navbar__item {
        padding: 15px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }
    @media only screen and (max-width: 1400px) { 
        .link-home .img  {
            width: 530px;
            height: 140px;
        }
    }

    @media only screen and (max-width: 1250px) { 
        .link-home .img  {
            width: 330px;
            height: 120px;
        }
    }

    @media only screen and (max-width: 950px) {
        .link-home .img  {
            width: 280px;
            height: 90px;
        }
    }
    @media only screen and (max-width: 900px) { 
        .first-section-container__header {
            padding: 0px;
            justify-content: space-between;
            padding-top: 40px;
        }
        .first-section-navbar__item {
            font-size: 18px;
            padding: 3px;
        }
        .logo-container {
            width: 40%;
        }
        .first-section-navbar {
            width: 50%;
        }
    }

    @media only screen and (max-width: 750px) {
        .link-home .img  {
            width: 290px;
            height: 80px;
        }

        .first-section-container__header {
            justify-content: space-between;
        }

        .first-section-navbar {
            width: fit-content;
            margin-right: -15px;
        }
    }
    @media only screen and (max-width: 600px) { 
        .first-section-navbar__item {
            font-size: 14px;
            padding: 3px;
        }
        .logo-container {
            width: 40%;
        }
        .irst-section-navbar {
            width: 50%;
        }

        .link-home .img  {
            width: 100%;
            height: 60px;
        }
    }
</style>