<div class="fourth-section-container">
    <div class="fourth-section-container__description">
        <h1>CHIMBOTE</h1>
        <p>Jr.Ladislao Espinar 522</p>
        <p class="site-selected">Chimbote</p>
        <img src="./images/fourthSection/location.svg" alt="">

    </div>
</div>
<style>
    .fourth-section-container {
        background-color: #26619C;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 45px 0px;
    }
    
    .fourth-section-container__description {
        text-align: center;
        color: #fff;
    }
    .fourth-section-container__description h1 {
        font-size: 50px;
    }

    .fourth-section-container__description p {
        font-size: 30px;
        line-height: 30px;
    }
    .fourth-section-container__description .site-selected {
        font-weight: 600;
        font-size: 35px;
        line-height: 35px;
    }

    .fourth-section-container div img {
        height: 80px;
        width: 60px;
        color: #fff;
        display: block;
        margin-top: -75px;
        margin-left: -65px;
    }
    @media only screen and (max-width: 700px) {  
        .fourth-section-container__description h1 {
            font-size: 40px;
        }
        .fourth-section-container__description p {
            font-size: 25px;
            line-height: 30px;
        }
        .fourth-section-container div img {
            height: 60px;
            width: 50px;
            margin-top: -75px;
            margin-left: -55px;
        }
    }
</style>