---
import HamburguerBar from "../hamburguerMenu/HamburguerBar.astro";
import Navbar from "../navbar/Navbar.astro";
import PageNav from "../pageNav/PageNav.astro";

---

<Navbar />
<HamburguerBar />
<div class="contact-container">
    <div class="header-container">
        <PageNav />
    </div>
    <div class="contact-body">
        <div class="form-container">
            <h1>Contacto:</h1>
            <p class="form-description">
                Nuestra área especializada atenderá sus dudas
                y le brindará toda la información necesaria para el 
                servicio que desee.
            </p>
            <form action="https://formsubmit.co/rodrigocesarcallecastillo@gmail.com" method="POST">
                <input type="hidden" name="_subject" value="Nuevo contacto desde la web de RADIOTEM!">
                <input type="hidden" name="_next" value="/custom_url">
                <input type="text" name="nombre" placeholder="Nombres y Apellidos*" required><br>
                <input type="email" name="correo" placeholder="Correo electrónico*" required><br>
                <input type="tel"  name="telefono" placeholder="Teléfono / Celular*" required><br>
                <input type="text" name="consulta" placeholder="Consulta*" required><br>
                <br>
                <p class="form-notes">
                    Los campos con * son obligatorios para poder procesar tu
                    solicitud 
                </p>
                <div class="terms-condition-box">
                    <div class="checkbox-container">
                        <input type="checkbox" required>
                    </div>
                   
                    <p class="terms-and-conditions">
                        Acepto haber leído los términos y condiciones de uso de privacidad.
                        Declaro que los datos consignados son correctos y que esta
                        declaración se ha confeccionado sin omitir o falsear dato alguno
                        que debe contener, siendo ﬁel expresión de la verdad.
                    </p>
                </div>
                <button  class="contact-btn-submit" type="submit">
                    Enviar
                </button>
            </form>
        </div>
        <div class="image-container">
            <img src="https://res.cloudinary.com/dwat1o60y/image/upload/v1670388893/radiotem/11_1_hegxzz.png" alt="">
        </div>
    </div>
</div>

<style>
    .contact-btn-submit {
        padding: 5px 20px;
        border-radius: 14px;
        color: #26619C;
        background-color: #fff;
        border: none;
        font-weight: 600;
        margin-top: 20px;
        font-size: 25px;
        line-height: 25px;
        border: thin solid #26619C;
    }
    .contact-container {
        background-image: url('https://res.cloudinary.com/dwat1o60y/image/upload/v1670396180/radiotem/3_eczwfo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }

    .contact-container .header-container {
        background-image: url('https://res.cloudinary.com/dwat1o60y/image/upload/v1670396330/radiotem/5_avf5sp.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px;
        margin-top: 0px;
    }
    .contact-body {
        display: flex;
        flex-direction: row;
        height: fit-content;
        margin-top: -90px;
        padding-bottom: 150px;
    }
    .form-container {
        width: 40%;
        margin: 0px auto;
        color: #26619C;
    }
    .terms-and-conditions {
    line-height: 20px;   
    }
    .form-container h1 {
        font-size: 48px;
        line-height: 52px;
    }
    .form-description {
        font-size: 28px;
        line-height: 28px;
        margin-top: 10px;
    }
    .form-container form input {
        border: none;
        font-size: 28px;
        line-height: 28px;
        color: #26619C;
        border-bottom: 2px solid #26619C;
        margin-top: 25px;
        width: 100%;
        background-color: #ffffff00;
    }
    .form-container form input:focus {
        outline: none;
    }

    .form-container form input::-webkit-input-placeholder{
        color: #26619C;
    }
    .terms-condition-box {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }
    .form-notes {
        font-weight: 600;
        font-size: 22px;
        line-height: 22px;
    }
    .terms-condition-box .checkbox-container  {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 15px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .terms-condition-box .checkbox-container input{
        width: 25px;
        border-radius: 7%;
        height: 25px;
        margin: 0;
    }

    .image-container {
        width: 50%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 25px 0px;
    }
    .image-container img {
        width: 40%;
        height: 40%;
    }

    @media only screen and (max-width: 1400px) { 
        .form-container {
            width: 60%;
            padding: 0px 30px;
        }
        .image-container {
            width: 40%;
        }

        .image-container img {
            width: 70%;
            height: 40%;
        }
    }

    @media only screen and (max-width: 1200px) { 
        .form-container h1 {
            font-size: 60px;
        }
        .form-description {
            font-size: 26px;
        }
        .form-container form input {
            border: none;
            font-size: 26px;
            color: #26619C;
            border-bottom: 2px solid #26619C;
            margin-top: 25px;
            width: 100%;
            background-color: #ffffff00;
        }
    }
    @media only screen and (max-width: 900px) { 
        .image-container img {
            width: 80%;
            height: 40%;
        }
        .form-container h1 {
            font-size: 50px;
        }
        .form-description {
            font-size: 22px;
        }
        .form-container form input {
            border: none;
            font-size: 22px;
            color: #26619C;
            border-bottom: 2px solid #26619C;
            margin-top: 25px;
            width: 100%;
            background-color: #ffffff00;
        }
        .form-notes {
            font-weight: 600;
            font-size: 18px;
        }
        .terms-condition-box {
            font-size: 14px;
        }

        .terms-condition-box .checkbox-container input{
            width: 20px;
            border-radius: 7%;
            height: 20px;
            margin: 0;
        }
    }
    @media only screen and (max-width: 750px) { 
        .header-container {
            display: none;
        }
        .contact-body {
            margin-top: 0px;
            padding-top: 100px;
        }

        .contact-btn-submit {
            font-size: 18px;
        }
    }


    @media only screen and (max-width: 650px) { 
        .contact-body {
            padding-bottom: 20px;
        }
        .image-container img {
            width: 100%;
            height: 60%;
        }
        .form-container h1 {
            font-size: 40px;
        }
        .form-description {
            font-size: 16px;
        }
        .form-container form input {
            border: none;
            font-size: 16px;
            color: #26619C;
            border-bottom: 2px solid #26619C;
            margin-top: 15px;
            width: 100%;
            background-color: #ffffff00;
        }
        .form-notes {
            font-weight: 600;
            font-size: 14px;
        }
        .terms-condition-box {
            font-size: 12px;
            margin-top: 10px;
        }

        .terms-condition-box .checkbox-container input{
            width: 20px;
            border-radius: 7%;
            height: 20px;
            margin: 0;
        }
    }
</style>