<nav class="nav-container">
    <p class="nav-container__item">CENTRAL TELEFÓNICA:
        <strong>
           <a href="tel:+51991717950">+51 991 717 950</a> 
        </strong>
    </p>
    <p class="nav-container__item"><img src="https://res.cloudinary.com/dwat1o60y/image/upload/v1670396622/radiotem/fb_icon_xpmqtj.png" alt=""></p>
</nav>

<style>
    .nav-container {
        background-color: #fff;
        height: fit-content;
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }
    /* .nav-container:first-child {
        font-weight: 400;
    } */
    .nav-container__item {
        color: #26619C;
        padding: 5px;
        font-size: 16px;
    }

    .nav-container__item strong a {
        text-decoration: none;
        color: #26619C;
    }

    .nav-container__item img {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    @media only screen and (max-width: 750px) {
        .nav-container {
            display: none;
        }
    }
</style>