<div class="footer-section">
    <div class="footer-section__contact-container">
        <h2>Contacto</h2>
        <p class="footer-location">
            <img src="./images/footer/location.svg" alt="">
             Jr.Ladislao Espinar 522 - Chimbote
        </p>
        <p class="footer-phone">
            CENTRAL TELEFÓNICA:
            <strong>
                +51 991 717 950
            </strong>
        </p>
    </div>
    <div class="footer-section__menu-container">
        <p class="footer__menu-container--item">Inicio</p>
        <p class="footer__menu-container--item">Política de cookies</p>
        <p class="footer__menu-container--item no-border">Política de privacidad</p>
    </div>
</div>

<style>
    .footer-section {
        width: calc(100% - 170px);
        height: fit-content;
        padding: 35px 85px;
        border-top: 4px solid #26619C;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-section__menu-container {
        font-size: 25px;
        text-align: center;
        color: #26619C;
    }
    .footer__menu-container--item {
        border-bottom: 3px solid #26619C;
        padding: 5px 45px;
        margin: 3px 0px;
    }
    .no-border {
        border: none;
    }
    .footer-section__contact-container {
        color: #26619C;
        width: fit-content;
    }
    .footer-section__contact-container h2 {
        font-size: 35px;
    }
    .footer-section__contact-container p {
        font-size: 22px;
        margin: 10px 0px;
    }

    .footer-location {
        display: flex;
        justify-content: start;
        align-items: center;
    }
</style>