<div class="footer-section">
    <div class="footer-section__contact-container">
        <h2>Contacto</h2>
        <div class="footer-location">
            <img src="./images/footer/location.svg" alt="">
            <p class="location-text">
                Jr.Ladislao Espinar 522 - Chimbote
            </p> 
        </div>
        <p class="footer-phone">
            CENTRAL TELEFÓNICA:
            <strong>
                +51 991 717 950
            </strong>
        </p>
    </div>
    <div class="footer-section__menu-container">
        <a href="/" class="footer__menu-container--item">
            <p>
                Inicio
            </p>
        </a>
        <a href="#" class="footer__menu-container--item">
            <p>
                Política de cookies    
            </p>    
        </a>
        <a href="#" class="footer__menu-container--item no-border">
            <p>
                Política de privacidad
            </p>
        </a>
    </div>
</div>

<style>
    .footer-section {
        width: calc(100% - 170px);
        height: fit-content;
        padding: 35px 85px;
        border-top: 4px solid #26619C;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-section__menu-container {
        font-size: 25px;
        text-align: center;
        color: #26619C;
        display: flex;
        flex-direction: column;
    }
    .footer__menu-container--item {
        border-bottom: 3px solid #26619C;
        padding: 5px 45px;
        margin: 3px 0px;
    }
    .no-border {
        border: none;
    }
    .footer-section__contact-container {
        color: #26619C;
        width: fit-content;
    }
    .footer-section__contact-container h2 {
        font-size: 35px;
    }
    .footer-section__menu-container a {
        font-size: 22px;
        margin: 10px 0px;
        text-decoration: none;
        color: #26619C;
    }

    .footer-section__menu-container a p{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .footer-location {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    @media only screen and (max-width: 1000px) {  
        .footer-section {
            width: calc(100% - 90px);
            padding: 15px 45px;
        } 
    }
    @media only screen and (max-width: 750px) {  
        .footer-section__menu-container {
            font-size: 18px;
        }
        .footer-section {
            width: calc(100% - 40px);
            padding: 15px 20px;
        } 

        .footer-section__contact-container h2 {
            font-size: 20px;
        }

        .footer__menu-container--item {
            border-bottom: 2px solid #26619C;
            padding: 1px 8px;
            margin: 3px 0px;
        }
        .footer-section__menu-container a {
            font-size: 12px;
            margin: 2px 0px;
            text-decoration: none;
            color: #26619C;
        }

        .footer-location img {
            height: 20px;
            width: 20px;
        }

        .footer-section__contact-container{
            width: fit-content;
            font-size: 12px;
        }

    }
</style>