<div class="third-section-container">
</div>

<style>
    .third-section-container {
        height: 750px;
        background-image: url('https://res.cloudinary.com/dwat1o60y/image/upload/v1671505612/radiotem/doctor-checking-x-ray-results_1_m43pqo.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media only screen and (max-width: 1050px) {
        .third-section-container {
            height: 600px;
        }
    }
    @media only screen and (max-width: 700px) {
        .third-section-container {
            height: 400px;
        }
    }
    @media only screen and (max-width: 600px) {
        .third-section-container {
            height: 350px;
        }
    }
</style>