<div class="third-section-container">
</div>

<style>
    .third-section-container {
        height: 750px;
        background-image: url('./images/thirdSection/doctor-checking-background.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>