<div class="first-section-container">
    <div class="first-section-container__header">
        <div class="logo-container">
            <!-- <img src="" alt=""> -->
            <div class="img">LOGO</div>
        </div>
        <div class="first-section-navbar">
            <a href="/medicos/" class="first-section-navbar__item">Staff Médico</a>
            <a href="/equipos/" class="first-section-navbar__item">Equipos</a>
            <a href="/contacto/" class="first-section-navbar__item">Contacto</a>
        </div>
    </div>
    <div class="first-section-body">
        <div class="first-section-body__description-container">
            <div class="description-container__header">
                <h3>
                    Brindamos un diagnóstico seguro, eficaz y
                    preciso, así como un servicio de calidad
                    para todos nuestros pacientes.
                </h3>                
            </div>
            <div class="description-container__list-container">
                <ul class="list-container__group">
                    <li class="list-container__group-item">Entrega de Placas en 20 minutos.</li>
                    <li class="list-container__group-item">
                        Entregas de informes médico en un máximo del 2 horas,
                        dentro del mismo día que se realizó el estudio.
                    </li>
                    <li class="list-container__group-item">
                        Atención las 24 horas, los 7 días de la semana incluido
                         feriados
                    </li>
                    <li class="list-container__group-item">
                        Atención en oficina de 8 am a 8 pm.
                    </li>
                    <li class="list-container__group-item">
                        Servicio de ambulancia, silla de ruedas, camilla y personal 
                        autorizado.
                    </li>
                </ul>

            </div>
            <div class="description-container__button-container">
                <button>RESERVA TU CITA</button>
            </div>
        </div>
        <div class="first-section-body__image-container">
            <img src="./images/firstSection/doctor.png" alt="">
        </div>
    </div>
</div>

<style>
    .first-section-container {
        font-size: 22px;
        background-image: url('./images/firstSection/first_section_background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: fit-content;
        padding: 25px 0px;
        display: grid;
        grid-template-rows: 0.5fr 0.2fr repeat(4, 1fr);
        grid-template-columns: repeat(13, 1fr);
        grid-template-areas: 
            " . header header header header header header  header header header header header ."
            ". . . . . . . . . . . . ."
            ". body body body body body body body body body body body ."
            ". body body body body body body body body body body body ."
            ". body body body body body body body body body body body ."
            ". body body body body body body body body body body body .";
        /* display: flex;
        flex-direction: column; */
    }
    .first-section-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0px 0px;
        margin: 0 auto;
        grid-area: header;
    }

    .logo-container {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .img {
        width: 260px;
        height: 70px;
        background-color: blueviolet;
    }
    .first-section-navbar {
        display: flex;
        flex-direction: row;
        color: #fff;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
    }
    .first-section-navbar__item {
        padding: 15px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }
    .first-section-body {
        display: grid;
        /* flex-direction: row; */
        /* justify-content: space-between; */
        height: 700px;
        padding: 0px;
        grid-area: body;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
        ". . . . . . . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        ;
    }

    .first-section-body__description-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-area: description;
    }
    .description-container__header {
        background-color: #fff; 
        color: #26619C;  
        padding: 10px; 
        border-radius: 100px 10px / 190px;
        margin: 5px 0px 10px 0px
    }
    .description-container__header h3 {
        margin: 0;
        text-align: center;
        font-weight: 500;
    }

    .first-section-body__description-container .list-container__group {
        padding-left: 70px;
        color: #fff;
    }
    .list-container__group-item {
        line-height: 30px;
        margin: 15px 0px;
    }
    .description-container__button-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .description-container__button-container button{
        color: #26619C;
        background-color: #fff;
        padding: 10px 45px;
        border-radius: 30px;
        font-weight: bold;
        border: none;
        font-size: 35px;
    }

    .first-section-body__image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: img-container;
    }

    .first-section-body__image-container img {
        width: 100%;
        height: 100%;
    }
</style>