<div class="first-section-container">
    <div class="first-section-container__header">
        <div class="logo-container">
            <!-- <img src="" alt=""> -->
            <div class="img"></div>
        </div>
        <div class="first-section-navbar">
            <div class="first-section-navbar__item">Staff Médico</div>
            <div class="first-section-navbar__item">Equipos</div>
            <div class="first-section-navbar__item">Contacto</div>
        </div>
    </div>
    <div class="first-section-body">
        <div>
            <div>
                <p>
                    Brindamos un diagnóstico seguro, eficaz y
                    preciso, así como un servicio de calidad
                    para todos nuestros pacientes.
                </p>                
            </div>
            <div>
                <ul>
                    <li>Entrega de Placas en 20 minutos.</li>
                    <li>
                        Entregas de informes médico en un máximo del 2 horas,
                        dentro del mismo día que se realizó el estudio.
                    </li>
                    <li>
                        Atención las 24 horas, los 7 días de la semana incluido
                         feriados
                    </li>
                    <li>
                        Atención en oficina de 8 am a 8 pm.
                    </li>
                    <li>
                        Servicio de ambulancia, silla de ruedas, camilla y personal 
                        autorizado.
                    </li>
                </ul>

            </div>
            <div>
                <button>RESERVA TU CITA</button>
            </div>
        </div>
        <div>
            <img src="./images/firstSection/doctor.png" alt="">
        </div>
    </div>
</div>

<style>
    .first-section-container {
        background-image: url('./images/firstSection/first_section_background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: fit-content;
        padding: 25px 0px;
        display: flex;
        flex-direction: column;
    }
    .first-section-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
        padding: 0px 20px;
    }
    .img {
        width: 260px;
        height: 70px;
        background-color: blueviolet;
    }
    .first-section-navbar {
        display: flex;
        flex-direction: row;
        color: #fff;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }
    .first-section-navbar__item {
        padding: 15px;
        font-weight: bold;
    }

    .first-section-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>