---
import HamburguerBar from "../hamburguerMenu/HamburguerBar.astro"

---
<HamburguerBar />
<div class="first-section-container">
    <div class="first-section-container__header">
        <div class="logo-container responsive-hiden">
            <img src="https://res.cloudinary.com/dwat1o60y/image/upload/v1670424865/radiotem/LOGO-PNG_bsp8gm.png" alt="Clinica Radiotem" class="img">
        </div>
        <div class="first-section-navbar responsive-hiden">
            <a href="/medicos/" class="first-section-navbar__item">Staff Médico</a>
            <a href="/equipos/" class="first-section-navbar__item">Equipos</a>
            <a href="/contacto/" class="first-section-navbar__item">Contacto</a>
        </div>
    </div>
    <div class="first-section-body">
        <div 
            class="first-section-body__description-container"
            data-aos="fade-up"
            data-aos-duration="500"
        >
            <div class="description-container__header">
                <h3>
                    Brindamos un diagnóstico seguro, eficaz y
                    preciso, así como un servicio de calidad
                     para todos nuestros pacientes.
                </h3>                
            </div>
            <div class="description-container__list-container">
                <ul class="list-container__group">
                    <li class="list-container__group-item">Entrega de Placas en 20 minutos.</li>
                    <li class="list-container__group-item">
                        Entregas de informes médico en un máximo del 2 horas,
                        dentro del mismo día que se realizó el estudio.
                    </li>
                    <li class="list-container__group-item">
                        Atención las 24 horas, los 7 días de la semana incluido
                         feriados
                    </li>
                    <li class="list-container__group-item">
                        Atención en oficina de 8 am a 8 pm.
                    </li>
                    <li class="list-container__group-item">
                        Servicio de ambulancia, silla de ruedas, camilla y personal 
                        autorizado.
                    </li>
                </ul>

            </div>
            <div class="description-container__button-container">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=991717950">
                    <button>
                        RESERVA TU CITA
                    </button>
                </a>                     
            </div>
        </div>
        <div 
            class="first-section-body__image-container"
            data-aos="fade-down"
            data-aos-duration="500"
        >
            <img src="https://res.cloudinary.com/dwat1o60y/image/upload/v1670396417/radiotem/doctor_kdhryu.png" 
                alt="Radiotem Chimbote - Médicos"
            >
        </div>
    </div>
</div>

<style>
    .responsive-hiden {
     display: inherit;
    }
    .first-section-container {
        font-size: 30px;
        background-image: url('https://res.cloudinary.com/dwat1o60y/image/upload/v1670396471/radiotem/first_section_background_nttvgc.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: fit-content;
        padding: 25px 0px;
        display: grid;
        grid-template-rows: 0.5fr 0.2fr repeat(4, 1fr);
        grid-template-columns: repeat(13, 1fr);
        grid-template-areas: 
            " . header header header header header header  header header header header header ."
            ". . . . . . . . . . . . ."
            ". body body body body body body body body body body body ."
            ". body body body body body body body body body body body ."
            ". body body body body body body body body body body body ."
            ". body body body body body body body body body body body .";
        /* display: flex;
        flex-direction: column; */
        padding-bottom: 60px;
    }
    .first-section-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0px 0px;
        margin: 0 auto;
        grid-area: header;
    }

    .logo-container {
        width: 40%;
        display: flex;
        align-items: center;
    }
    .img {
        width: 480px;
        height: 140px;
    }
    .first-section-navbar {
        display: flex;
        flex-direction: row;
        color: #fff;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
    }
    .first-section-navbar__item {
        padding: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        font-size: 30px;
    }
    .first-section-body {
        display: grid;
        /* flex-direction: row; */
        /* justify-content: space-between; */
        height: 700px;
        padding: 0px;
        grid-area: body;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
        ". . . . . . . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        "description description description description description description . img-container img-container img-container img-container img-container img-container"
        ;
    }

    .first-section-body__description-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-area: description;
    }
    .description-container__header {
        background-color: #fff; 
        color: #26619C;  
        padding: 10px; 
        border-radius: 100px 10px / 190px;
        margin: 5px 0px 10px 0px;
        grid-area: title;
    }
    .description-container__header h3 {
        margin: 0;
        text-align: center;
        font-weight: bold;
        line-height: 28px;
        
    }

    .first-section-body__description-container .list-container__group {
        padding-left: 70px;
        color: #fff;
    }
    .list-container__group-item {
        line-height: 30px;
        margin: 0px 0px;
    }
    .description-container__button-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .description-container__button-container button{
        color: #26619C;
        background-color: #fff;
        padding: 6px 35px;
        border-radius: 20px;
        font-weight: 600;
        border: none;
        font-size: 38px;
        line-height: 38px;
        font-family: boldLetter;
    }

    .first-section-body__image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: img-container;
    }

    .first-section-body__image-container img {
        width: 100%;
        height: 100%;
    }

    @media only screen and (max-width: 1500px) {
        .first-section-body__image-container img {
            width: 90%;
            height: 80%;
        }
        .first-section-container {
            font-size: 24px;
        }
        .img {
            width: 530px;
            height: 140px;
        }
    }

    @media only screen and (max-width: 1250px) {
        .img {
            width: 330px;
            height: 120px;
        }
        .first-section-container {
            font-size: 20px;
        }
        .first-section-body__image-container img {
            width: 90%;
            height: 70%;
        }

        .list-container__group-item {
            line-height: 22px;
            margin: 5px 0px;
        }

        .first-section-body {
            display: grid;
            /* flex-direction: row; */
            /* justify-content: space-between; */
            height: 700px;
            padding: 0px;
            grid-area: body;
            margin-top: 25px;
            grid-template-columns: repeat(13, 1fr);
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas: 
            "title title title title title title title title title img-container img-container img-container img-container"
            "description description description description description description . img-container img-container img-container img-container img-container img-container"
            "description description description description description description . img-container img-container img-container img-container img-container img-container"
            "description description description description description description . img-container img-container img-container img-container img-container img-container"
            "description description description description description description . img-container img-container img-container img-container img-container img-container"
            "description description description description description description . img-container img-container img-container img-container img-container img-container"
            "description description description description description description . img-container img-container img-container img-container img-container img-container"
            ;
        }
    }
    @media only screen and (max-width: 1050px) {
        .first-section-navbar__item {
            font-size: 18px;
            padding: 5px;
        }
        .logo-container {
            width: 40%;
        }

        .img {
            width: 280px;
            height: 90px;
        }
        .irst-section-navbar {
            width: 50%;
        }

        .list-container__group-item {
            line-height: 22px;
            margin: 10px 0px;
        }
        .first-section-body {
            display: grid;
            /* flex-direction: row; */
            /* justify-content: space-between; */
            height: 700px;
            padding: 0px;
            grid-area: body;
            margin-top: 25px;
            grid-template-columns: repeat(13, 1fr);
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas: 
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            ;
        }
        .description-container__button-container button{
            color: #26619C;
            background-color: #fff;
            padding: 10px 45px;
            font-weight: bold;
            border: none;
            font-size: 30px;
         }

         .first-section-body__image-container img {
            width: 100%;
            height: 60%;
        }
 
    }
    @media only screen and (max-width: 750px) {
        .responsive-hiden {
            display: none;
        }
        .logo-container {
            margin-left: -20px;
        }
        .first-section-container__header {
            justify-content: space-between;
        }

        .first-section-navbar__item {
            font-size: 16px;
            padding: 5px;
        }
        .logo-container {
            width: 40%;
        }
        .first-section-navbar {
            width: fit-content;
            margin-right: -20px;
        }
        .img {
            width: 290px;
            height: 80px;
        }

        .first-section-container {
            font-size: 18px;
        }
        .list-container__group-item {
            line-height: 20px;
            margin: 10px 0px;
        }
        .first-section-body {
            display: grid;
            /* flex-direction: row; */
            /* justify-content: space-between; */
            height: 700px;
            padding: 0px;
            grid-area: body;
            margin-top: 25px;
            grid-template-columns: repeat(13, 1fr);
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas: 
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            ;
        }
        .description-container__button-container button{
            color: #26619C;
            background-color: #fff;
            padding: 5px 35px;
            font-weight: bold;
            border: none;
            font-size: 26px;
         }
         .description-container__header {
            font-size: 16px;
         }

         .first-section-body__image-container img {
            width: 100%;
            height: 50%;
        }
        .first-section-body__description-container .list-container__group  {
            padding-left: 40px;
        }
    }
    @media only screen and (max-width: 600px) { 
        .first-section-navbar__item {
            font-size: 14px;
            padding: 3px;
        }
        .logo-container {
            width: 40%;
        }

        .first-section-container {
            font-size: 12px;
            height: fit-content;
        }
        .list-container__group-item {
            line-height: 12px;
            margin: 5px 0px;
        }
        .description-container__button-container {
            width: fit-content;
        }

        .description-container__button-container button{
            color: #26619C;
            background-color: #fff;
            padding: 5px 15px;
            font-weight: bold;
            border: none;
            font-size: 20px;
            width: 200px
         }
         .description-container__header {
            font-size: 14px;
            width: 300px;
         }

         .first-section-body__image-container img {
            width: 100%;
            height: 40%;
        }
        .first-section-body__description-container .list-container__group  {
            padding-left: 10px;
        }


        .first-section-body {
            display: grid;
            /* flex-direction: row; */
            /* justify-content: space-between; */
            height: fit-content;
            padding: 0px;
            grid-area: body;
            margin-top: 25px;
            grid-template-columns: repeat(13, 1fr);
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas: 
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            "description description description description description description description img-container img-container img-container img-container img-container img-container"
            ;
        }

        .img {
            width: 260px;
            height: 70px;
        }

        .description-container__header h3 {

            line-height: 18px;
                
        }

    }
</style>